# Titulo 1
###### Titulo 6

![alt text](https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png "Logo Title Text 1")

In [1]:
print("Hola mundo")

Hola mundo

In [10]:
# No tipado
# Variables Primitivas

entero = 5
decimal = 1.5
nombre = "Bolivar"
segundo_nombre = "Andres" #No usar camel case -> segundoNombre
apellido = 'Roman'
casado = False
profesor = True
hijos = None #Analogo a NULL

print(type(entero)) 
print(type(decimal))
print(type(nombre))
print(type(segundo_nombre))
print(type(apellido))
print(type(casado))
print(type(profesor))
print(type(hijos))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'NoneType'>

In [5]:
cadena_de_texto = """
Aquí se puede escribir una cadena de texto larga
"""
print(cadena_de_texto)

Aquí se puede escribir una cadena de texto larga

In [11]:
print(entero)
entero = decimal
entero = hijos
entero = casado
entero = nombre
print(entero)

5
Bolivar

In [7]:
#Condiciones
#Truty - Falsy

tuplas = (1,2,3) #Arreglos que no se pueden modificar
listas = [4,5,6] #Arreglos que se pueden modificar
diccionario = {
    "nombre": "Bolivar"
}
if('Bolivar'):
    print('Truty')
else:
    print('Falsy')
    
if(''):
    print('Truty')
else:
    print('Falsy')
    

nulo = None
if(nulo):#Falsy
    print('Truty')
else:
    print('Falsy')
    
print("Number Comparison")
    
if(-1):#Truty
    print('Truty')
else:
    print('Falsy')
    
    
if(0):#Falsy
    print('Truty')
else:
    print('Falsy')
    

if(1):#Truty
    print('Truty')
else:
    print('Falsy')

    
print("Tuple Comparison")    
    
if(()):#Truty
    print('Truty')
else:
    print('Falsy')

if((1,2,3)):#Truty
    print('Truty')
else:
    print('Falsy')


    
print("List Comparison")    
    
if([]):#Truty
    print('Truty')
else:
    print('Falsy')

if([1,2,3]):#Truty
    print('Truty')
else:
    print('Falsy')
    
print("Dictionary Comparison")    
    
if({}):#Truty
    print('Truty')
else:
    print('Falsy')



if({"nombre": "Bolivar"}):#Truty
    print('Truty')
else:
    print('Falsy')

Truty
Falsy
Falsy
Number Comparison
Truty
Falsy
Truty
Tuple Comparison
Falsy
Truty
List Comparison
Falsy
Truty
Dictionary Comparison
Falsy
Truty

In [8]:
arreglo = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
arreglo[0:3] # [0, 3[ intervalo abierto a la derecha
arreglo[5:] # Toma el intervalo hasta el final
arreglo[:7] # Toma el intervalo desde el inicio
arreglo[-10] # Indice negativo empieza desde el final

arreglo[3:-2]
arreglo[-8:8]
arreglo[-4:-1]
arreglo[-7:]
arreglo[:-3]

arreglo[:]


arregloTupla = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
arregloTupla[5:9]

(6, 7, 8, 9)

In [32]:
diccionario = {
    "nombre": "Bolivar",
    "apellido" : "Roman",
    "sueldo" : 1.2
}

diccionario["nombre"]

'Bolivar'

In [37]:
12 in arreglo

len(arreglo)

10

In [44]:
"nombre" in diccionario

True

In [47]:
#arregloTupla[0] = 2 no se puede modificar la tupla
arreglo[0] = 2

#arreglo.pop
#arreglo.append
#arreglo.insert

In [51]:
for numeroLista in arregloTupla:
    print(numeroLista)

1
2
3
4
5
6
7
8
9
10

In [53]:
for numeroLista in diccionario:
    print(numeroLista)

nombre
apellido
sueldo

In [56]:
contador = 0 
while contador < 10:
    print(contador)
    contador+= 1

0
1
2
3
4
5
6
7
8
9

In [57]:
bolivar = {
    True: 'Bolivar',
    False: 'Roman',
    1: 12.2,
    1.1: 89,
    'edad': 31,
    'mascotas': [{"nombre" : 'Morgan'}],
    None: None
}

In [59]:
bolivar['edad'] = 22
bolivar['apellido'] = 'Roman'
bolivar['mascotas'][0]['nombre'] = 'Nika'

In [60]:
bolivar

{True: 12.2,
 False: 'Roman',
 1.1: 89,
 'edad': 22,
 'mascotas': [{'nombre': 'Nika'}],
 None: None,
 'apellido': 'Roman'}

In [65]:
bolivar.keys()
for key in bolivar.keys():
    print(key)

True
False
1.1
edad
mascotas
None
apellido

In [66]:
bolivar.values()
for value in bolivar.values():
    print(value)

12.2
Roman
89
22
[{'nombre': 'Nika'}]
None
Roman

In [69]:
1 == 1 or 2 == 2
1 != 1

False